extends ../layout/loginComon

block conten
	
	if errors
		each error in errors
			.alert.alert-danger=error
	.container
		.row
			.col-xl-12#fullPage
				.container
					.row
						.col-xl-6.col-lg-6.col-md-6.col-sm-6-.col-12.login-page
							.font-h
								h3 Admin
							form(method="POST")
								.form-ground
									label(for="email")
										input.input-text(type='text' name='email' placeholder='Email Address' value = values ? values.email:"")
								.form-ground
									label(for="password")
										input.input-text(type='password' name='password', placeholder='Password' value = values ? values.password:"")
								.checkbox
									input(type='checkbox')
									| Remember
									a(href='') for get aware
								.form-ground
									button(type='submit')
										a Login
							.font-end
									p
									| Don&apos;t have an account?
									a(href='')
											|  Register here
						.col-xl-6.col-lg-6.col-md-6.col-sm-6.col-12.table2-login
								a logy
								p
									| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt Lorem Ipsum
								a#a(href='') read more
								ul.roud
									li
										i.fab.fa-facebook-f.fa-lg
									li
										i.fab.fa-twitter.fa-lg
									li
										i.fab.fa-google-plus-g.fa-lg
									li
										i.fab.fa-instagram.fa-lg